<div id="<!--{{CARD_ID}}-->" class="card class-<!--{{SCHOOL}}-->">
    <div class="card-header">
        <div class="card-title"><!--{{NAME}}--></div>
    </div>
    <div class="card-body">
        <table class="card-attrs">
            <tr>
                <td>
                    <!--{{COMPONENTS}}-->
                    <br>
                    <em>Components</em>
                </td>
                <td class="<!--{{CASTING_CLASS}}-->">
                    <!--{{CASTING}}-->
                    <br>
                    <em><!--{{CASTING_LABEL}}--></em>
                </td>
                <td class="<!--{{RANGE_CLASS}}-->">
                    <!--{{RANGE}}-->
                    <br>
                    <em><!--{{RANGE_LABEL}}--></em>
                </td>
                <td class="<!--{{DURATION_CLASS}}-->">
                    <!--{{DURATION}}-->
                    <br>
                    <em><!--{{DURATION_LABEL}}--></em>
                </td>
            </tr>
        </table>
        <div class="card-attr-info">
            <span class="card-material-components"><!--{{MATERIAL_COMPONENTS}}--></span>
            <span class="card-duration-info"><!--{{DURATION_INFO}}--></span>
        </div>
        <div class="card-text"><!--{{TEXT}}--></div>
    </div>
    <div class="card-footer">
        <span class="card-class"><!--{{PRIMARY_CLASS}}--> <!--{{SOURCE}}--></span>
        <span class="card-type"><!--{{SPELL_TYPE}}--></span>
    </div>
</div>