<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spell Cards</title>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
    <style>
        /*{{STYLES}}*/
    </style>
</head>

<body>
    <!--{{CARDS}}-->

    <script src="autosize.js"></script>
</body>

</html>